// Place all the styles related to the questsesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.questions{
    height: 550px;
    overflow: scroll;
    & .question{
        border-radius: 5px;
        border:1px solid #ccc;
        padding:5px 8px;
        margin:5px 8px;
        overflow: hidden;
        position: relative;
        & .delete{
            border-radius: 50%;
            width: 10px; height:10px;
            background-color: red;
            position: absolute;
            right:5px; top:5px;
        }
    }
}

.answer{
    margin: 5px 0px;
    padding: 5px 8px;
    background-color: #f9f9f9;
}